<html>
  <head>
    {% if title %}
    <title>{{title}} - microblog</title>
    {% else %}
    <title>Персонализированные рекомендации фильмов</title>
    {% endif %}
  </head>
  <body>

    {% block content %}{% endblock %}

        <div>

        <a href="{{ url_for('index') }}">Домашняя страница</a>
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Войти</a>
        {% else %}
        <a href="{{ url_for('logout') }}">Выйти</a>
        {% endif %}
    </div>

  </body>
</html>
