{% extends "base.html" %}
{% block content %}

{%if is_auth %}
<h1>Привет, {{current_user.name}}!</h1>
{% else %}
<h1> Привет, незнакомец! </h1>
Чтобы получить персонализированные рекомнедации необходимо
<a href="{{ url_for('login') }}">Войти</a>/
<a href="{{ url_for('register') }}">Зарегистрироваться</a>

{% endif %}

<h2><p> Кинотеатры </p></h2>
{% for provider in providers %}
<div><p><a href='/cinema?id={{provider.id}}'> {{provider.name}}</a></p></div>
{% endfor %}


{%if is_auth %}
<h2><p> Вам нравится этот фильм? </p></h2>
{{negative_item.name}}
<form action="" method="post">
{{ form.hidden_tag() }}

{{ form.submit() }}
</form>

<h2><p> Пользователь, похожий на Вас </p></h2>
<div><p>{{similar_user.name}} </p></div>
{% endif %}


{% endblock %}
